
@{
    ViewBag.Title = "Редактирование услуги";
}

<div class="ContentSign">
    <h3 style="padding-left: 450px;">Операции над услугами</h3>
    <form action="/Services/EditService" method="post" enctype="multipart/form-data" style="border-style: none; width: 600px; margin-left: 300px;">
        <fieldset style="padding-left: 50px; border: none; float: left;">
            <label for="tarif">Тарифный план:</label><br>
            <input name="Tarif" type="text" id="Tarif" value="@ViewBag.Message.Tarif" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none;">
            <label for="ConnectionType">Тип подключения:</label><br>
            <input name="ConnectionType" type="text" id="ConnectionType" value="@ViewBag.Message.ConnectionType" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none; float: left;">
            <label for="Payment">Предоплата:</label><br>
            <input name="Payment" type="text" id="Payment" value="@ViewBag.Message.Payment" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none;">
            <label for="Speed">Скорость доступа к сети Интернет:</label><br>
            <input name="Speed" type="text" id="Speed" value="@ViewBag.Message.Speed" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none; float: left;">
            <label for="Term">Срок тарифного плана:</label><br>
            <input name="Term" type="text" id="Term" value="@ViewBag.Message.Term" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none;">
            <label for="Traffic">Включённый интернет-трафик:</label><br>
            <input name="Traffic" type="text" id="Traffic" value="@ViewBag.Message.Traffic" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none; float: left;">
            <label for="SubscrCash">Абонентская плата:</label><br>
            <input name="SubscrCash" type="text" id="SubscrCash" style="height: 50px; padding-top: 1px;" value="@ViewBag.Message.SubscrCash" required><br>
        </fieldset>
        <fieldset style="padding-left: 50px; border: none;">
            <label for="Agreement">Соглашение:</label><br>
            <input name="Agreement" type="text" id="Agreement" style="height: 50px;" value="@ViewBag.Message.Agreement" required><br>
        </fieldset>
        <input type="submit" style="margin-top: 30px; margin-left: 180px;" name="submit_apply" value="Применить">
        <input type="hidden" value="@ViewBag.Message.Id" name="Id" />
    </form>
</div>